<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resale | Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>

    <!-- Source -->

</head>
<header th:insert="~{blocks/header :: header}"></header>


<body>


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Admin panel</h1><hr>
            <h3>Adding a new category</h3>
            <form action="/admin/category/create" method="post" enctype="multipart/form-data"
                  class="mx-5">
                Category title: <input type="text" name="title"/>
                Category image: <input class="form-control" type="file" name="newCatImage">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="submit" value="Add category"/>
            </form> <br><br>
            <h3>Edit category</h3>
            <table class="table table-hover" style="width: 80%;">
                <thead>
                <tr>
                    <th scope="col">Cat ID</th>
                    <th scope="col">Cat Title</th>
                    <th scope="col">Edit cat title</th>
                    <th scope="col">Cat image</th>
                    <th scope="col">Edit cat image</th>
                    <th scope="col">Delete Category</th>
                    <th scope="col">Info about product quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cat : ${categories}">
                    <th scope="row" th:text="${cat.id}">Category ID</th>
                    <td th:text="${cat.title}">Category Title</td>
                    <td>
                        <form th:action="@{'/admin/category/edit-title/' + ${cat.id}}" method="post" enctype="multipart/form-data">
                            <input type="text" name="newTitle">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Edit title">
                        </form>
                    </td>
                    <td>
                        <img th:src="@{'/category/images/' + ${cat.getImage().getId()}}">
                    </td>
                    <td>
                        <form th:action="@{'/admin/category/edit-img/' + ${cat.id}}" method="post" enctype="multipart/form-data">
                            Category image: <input class="form-control" type="file" name="newImage">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Edit cat img"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/admin/category/delete/' + ${cat.id}}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td th:text="${cat.getProducts().size()}">quantity of products</td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <br><br>
            <h3>Users</h3>
            <table class="table table-hover" style="width: 80%;">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role</th>
                    <th scope="col">Ban</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.email}">Email</th>
                    <td th:text="${user.phoneNumber}">Phone number</td>
                    <td th:text="${user.active}">Activity</td>
                    <td th:text="${user.getRoles()}">Role</td>
                    <td>
                        <form th:action="@{'/admin/user/ban/' + ${user.id}}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Ban">
                        </form>
                    </td>
                    <td><a th:href="@{'/admin/user/edit/' + ${user.id}}">Edit user role</a></td>
                    <td><a th:href="@{'/user/' + ${user.id}}">Details</a></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>