<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resale | Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>

    <!-- Source -->

</head>
<header th:insert="~{blocks/header :: header}"></header>

<body>

<!--Sorting-->
<div cclass="container text-end mb-3 mt-3">
    Sorting by:
    <a th:href="@{'/user/' + ${user.id} + '/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">Title</a>
    <a th:href="@{'/user/' + ${user.id} + '/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${reverseSortDir}}">City</a>
    <a th:href="@{'/user/' + ${user.id} + '/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">Price</a>
</div>


<h3 th:text="${userToView.name} + ' phone number:     ' + ${userToView.phoneNumber}"></h3>
<h4 th:text="${userToView.name} + ' products:'"></h4>

<div th:insert="~{blocks/product-card :: product-card}"></div>

<!--Paging-->
<div class="container text-center mb-3">
    Total Items: [[${totalItems}]]
    <hr>
    <a th:if="${currentPage > 1}" th:href="@{'/page/1'}">First</a>
    <span th:unless="${currentPage > 1}">First</span>

    <a th:if="${currentPage > 1}"
       th:href="@{'/user/' + ${user.id} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>

    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}"
       th:href="@{'/user/' + ${user.id} + '/page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}">[[${ i!=0 ? i : ""}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>

    <a th:if="${currentPage < totalPages}"
       th:href="@{'/user/' + ${user.id} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>

    <a th:if="${currentPage < totalPages}"
       th:href="@{'/user/' + ${user.id} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>
</div>
</body>
</html>