<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="/"><span>Re</span>sale</a>
            </div>

            <form action="/logout" method="post">
                <div class="header-right">
                    <div class="logout" th:if="${user.email}">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="submit" value="Logout">
                    </div>
                </div>
            </form>


            <div class="header-right" th:unless="${user.email}">
                <a class="account" href="/login">Log in</a>
            </div>

            <div class="header-right" th:if="${user.email}">

                <a th:if="${user.isAdmin()}" class="account" href="/admin"><img src="/static/images/admin.png"
                                                                                alt="Admin panel" width="25"
                                                                                height="17"></a>
                <a class="account" th:href="@{'/user/' + ${user.id}}">My account</a>
            </div>


        </div>
    </div>

</div>